fastapi==0.115.0
uvicorn==0.30.6
beautifulsoup4==4.12.3
gspread==6.1.2
google-auth==2.35.0
google-auth-oauthlib==1.2.1
thefuzz==0.22.1
python-Levenshtein==0.25.1
pydantic==2.9.2
python-dotenv==1.0.1
# V2 additions
sqlalchemy==2.0.35
psycopg2-binary==2.9.9

pyjwt==2.9.0
email-validator==2.2.0
requests==2.32.3
